<div class="fondo">
  
<div class="row  justify-content-center" style="padding-top: 1%;margin-left: 1%; ">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a >
            <img class="avatar border-gray" src="assets/img/Person-Icon.png" alt="...">
            <h5 class="title">Bienvenido Nuevo Usuario</h5>
          </a>
        </div>
          <div class="col-lg-8 col-md-6 col-6 ml-auto mr-auto" >
            <div class="form-group">
              <label>Username</label>
              <input type="text" class="form-control" placeholder="Nombre de Usuario" >
              <label>Password</label>
              <input type="text" class="form-control" placeholder="Contraseña" >
            </div>
          </div>
        
      </div>
      <div class="card-footer ">
        <hr>
        <div class="button-container">
          <div class="row">
            <div class="col-lg-2 col-md-6 col-6 ml-auto">
        
            </div>
            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
              <button mat-raised-button class="btn btn-success btn btn-primary btn-lg ">Login</button>
            </div>
            <div class="col-lg-3 mr-auto">
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>